/*
@import url(http://fonts.googleapis.com/css?family=Roboto);
*/

body {
    font-family: arial, sans-serif;
}

/*
<DB 8.02 2017 customized css for login widget>
*/

.Wt-auth-login{
 position: fixed;
 top: 32.5%;
 left: 32.5%;
 margin-top: -32.5 ptx;
 margin-left: -32.5 ptx;
 font-size: 80%;
 background-color: rgba(169,200,241,0.71);  
 box-shadow: 1px 1px 1px 1px grey;
 padding:6px 20px 6px 20px;
 border-radius: 5px;
 border: 4px;
} 

.Wt-auth-logged-in {
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 90%;
/*
    background-color: rgba(39,133,160,0.16);
*/
}

.Wt-auth-icon {
    cursor: pointer;
    cursor: hand;
    padding-left: 4px;
    padding-right: 4px;
}

.Wt-auth-registration {
    width: 600px;
}


.authstyle{
 /*
    background:url("../pics/auth_bkg.jpg") no-repeat;
    min-height: 100 px;
    background-attachment: scroll;
    background-position: centered;
    backgroun-size: cover;
*/

}

.footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/*
 * Override some bootstrap styles.
 */

/*
 * Do not show informational help, only errors.
 */
.form-horizontal .help-inline > span {
    display: none;
}

.control-group.error .help-inline > span {
    display: inline-block;
}

.control-group.success .control-label,
.control-group.success .help-inline {
    color: inherit;
}

/*
 * Do not constrain dialog maximum height
 */
.modal-body {
    max-height: none;
}
